.reply {
  min-height: 12.5rem;
  padding: 1.8rem;
  margin-top: 0.5rem;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  margin-bottom: 1.5rem;
  align-items: start;
  gap: 1.5rem;
}

.reply-img {
  height: 4rem;
  width: 4rem;
}

.mar {
  margin-left: -1.5rem;
}

.btn {
  padding: 0.8rem 1.7rem;
}

@media only screen and (max-width: 550px) {
  .reply {
    flex-direction: column;
    position: relative;
  }
  .reply-img {
    order: 2;
  }

  .btn {
    position: absolute;
    bottom: 1.8rem;
    right: 1.8rem;
  }
}
