@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* Primary Colors*/

  --moderate-blue: hsl(238, 40%, 52%);
  --soft-Red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* Neutral Colors*/

  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  background-color: var(--light-gray);
  position: relative;
}

#root {
  max-width: 62.5rem;
  margin: auto;
  padding: 7rem 0;
}

@media only screen and (max-width: 620px) {
  #root {
    margin: auto 2.5rem;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 55%;
  }
}
